.backdrop {
  border: 1px solid currentColor;
  border-radius: inherit;
}

.container:hover:not(:disabled) .backdrop,
.container:global(.--hover):not(:disabled) .backdrop {
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-width: 2px;
}

:global(.with-focus-ring) .container:focus .backdrop,
.container:global(.--focus) .backdrop {
  background-color: var(--color-neutral-2);
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-width: 2px;
}

.container:active:not(:disabled) .backdrop,
.container:global(.--active):not(:disabled) .backdrop,
:global(.with-focus-ring) .container:active .backdrop {
  background-color: var(--color-neutral-1);
}

.container:disabled {
  opacity: 0.3;
}
