.backdrop {
  background-color: var(--color-neutral-0);
  border: 1px solid currentColor;
  border-radius: inherit;
}

:global(.--focus) input + .backdrop,
input:focus + .backdrop {
  border: 2px solid currentColor;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
}

input:disabled,
input:disabled + .backdrop {
  opacity: 0.3;
}
