:global .h-u {
  height: var(--u);
}

:global .h-s {
  height: var(--s);
}

:global .h-m {
  height: var(--m);
}

:global .h-l {
  height: var(--l);
}

:global .h-xl {
  height: var(--xl);
}

:global .h-xxl {
  height: var(--xxl);
}
