:global .m-u-b {
  margin-bottom: var(--u);
}
:global .m-u-t {
  margin-top: var(--u);
}
:global .m-u-r {
  margin-right: var(--u);
}
:global .m-u-l {
  margin-left: var(--u);
}

:global .m-s-b {
  margin-bottom: var(--s);
}
:global .m-s-t {
  margin-top: var(--s);
}
:global .m-s-r {
  margin-right: var(--s);
}
:global .m-s-l {
  margin-left: var(--s);
}

:global .m-m-b {
  margin-bottom: var(--m);
}
:global .m-m-t {
  margin-top: var(--m);
}
:global .m-m-r {
  margin-right: var(--m);
}
:global .m-m-l {
  margin-left: var(--m);
}

:global .m-l-b {
  margin-bottom: var(--l);
}
:global .m-l-t {
  margin-top: var(--l);
}
:global .m-l-r {
  margin-right: var(--l);
}
:global .m-l-l {
  margin-left: var(--l);
}

:global .m-xl-b {
  margin-bottom: var(--xl);
}
:global .m-xl-t {
  margin-top: var(--xl);
}
:global .m-xl-r {
  margin-right: var(--xl);
}
:global .m-xl-l {
  margin-left: var(--xl);
}

:global .m-auto {
  margin-left: auto;
  margin-right: auto;
}
