:global .relative {
  position: relative;
}

:global .absolute {
  position: absolute;
}

:global .fixed {
  position: fixed;
}

:global .sticky {
  position: sticky;
}

:global .top-0 {
  top: 0;
}

:global .left-0 {
  left: 0;
}

:global .right-0 {
  right: 0;
}

:global .bottom-0 {
  bottom: 0;
}

:global .z1 {
  z-index: 1;
}

:global .z2 {
  z-index: 2;
}

:global .z3 {
  z-index: 3;
}

:global .z4 {
  z-index: 4;
}

:global .z999 {
  z-index: 999;
}
